.contact-section {
  @media (min-width: $xlarge) {
    min-height: 100vh;
  }
}

.contact-form-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0;
  width: 270px;
  @media (min-width: $xsmall) {
    width: 350px;
  }
  @media (min-width: $medium) {
    width: 400px;
  }
  @media (min-width: $large) {
    width: 465px;
  }
}

.input-wrapper {
  width: 100%;
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-wrapper.recaptcha-wrapper {
  align-items: center;
  @media (min-width: $large) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 26px;
  }
}

.input-wrapper.textarea-wrapper {
  @media (min-width: $large) {
    margin-bottom: 14px;
  }
}

.contact-form__input-label {
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: left;
  text-transform: capitalize;
  position: absolute;
  transition: transform .3s ease-in-out;
}

.contact-form__textarea-label {
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: left;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.contact-form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100%;
  padding: 2px;

  &:focus {
    outline: none;
  }
}

.contact-form__label--focused {
  transition: transform .3s ease-in-out;
  transform-origin: left;
  transform: translateY(-16px) scale(0.7);
}

.contact-form__textarea {
  background-color: transparent;
  border: 1px solid #000000;
  width: 100%;
  height: 18vh;
  resize: none;
  padding: 2px;

  &:focus {
    outline: none;
  }
}

.contact-form__button {
  width: 141px;
  height: 44px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #000000;
  font-size: 14px;
  letter-spacing: 0.1px;
  margin-top: 20px;
  @media (min-width: $large) {
    margin-top: 0;
    align-self: flex-end;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }

  &:disabled {
    border-color: rgba(0, 0, 0, 0.3);
    &:hover {
      cursor: auto;
    }
  }
}

.contact-form__input-label--focused {
  transform-origin: left;
  transform: translateY(-16px) scale(0.7);
}

.input-wrapper.input-wrapper__checkbox {
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.contact-form__checkbox {
  display: none;
}

.contact-form__checkbox + .contact-form__checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: rgba(133, 133, 133, 0.7);
  font-size: 10px;
  letter-spacing: 0.1px;
  text-align: left;
  cursor: pointer;
}

.contact-form__checkbox + .contact-form__checkbox-label:last-child {
  margin-bottom: 0;
}

.contact-form__checkbox + .contact-form__checkbox-label:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.contact-form__checkbox:checked + .contact-form__checkbox-label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
