footer {
  opacity: 0.5;
  background-color: #555555;
}

.footer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 270px;
  @media (min-width: $xsmall) {
    width: 350px;
  }
  @media (min-width: $small) {
    width: 500px;
  }
  @media (min-width: $medium) {
    width: 700px;
  }
  @media (min-width: $large) {
    width: 900px;
  }
  @media (min-width: $xlarge) {
    width: 1177px;
  }
}

.nav-footer {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px 0;
  flex-direction: column;
  align-items: center;
  @media (min-width: $small) {
    flex-direction: row;
    padding: 0;
  }
}

.nav-footer__link {
  text-decoration: none;
}

.nav-footer__item {
  margin: 0 10px;
  padding: 10px 0;
  @media (min-width: $small) {
    padding: 20px 0;
    margin: 0 15px;
    &:last-of-type {
      margin-right: 0;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
  @media (min-width: $medium) {
    padding: 36px 0;
    margin: 0 25px;
  }
}

.nav-footer__link {
  &:hover {
    cursor: pointer;
  }
}

.nav-footer__text {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__logo {
  text-decoration: none;
  position: absolute;
  left: 0;
  &:hover {
    cursor: pointer;
  }
}
