.menu-button{
  position: fixed;
  z-index: 1;
  left: 5px;
  top: 5px;
  transition: all .3s;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  @media (min-width: $medium){
    display: none;
  }
}
.menu-button:hover{
  cursor: pointer;
}

.hamburger-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  background-color: transparent;
}

.hamburger-inner {
  display: block;
  top: 50%;

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &,
  &::before,
  &::after {
    width: 30px;
    height: 3px;
    background-color: #000000;
    border-radius: 0;
    position: absolute;
    // transition: transform 0.15s ease, background-color 0.25s ease-in;
    // transition-property: transform;
    // transition-duration: 0.15s;
    // transition-timing-function: ease;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }

  // &,
  // &::before,
  // &::after {
  //   transition: background-color 0.15s ease-in;
  // }
}

.navbar {
  display: flex;
  padding: 15px 0 15px 0;
  flex-direction: column;
  align-items: center;
  background-color: rgba(55, 55, 55, 0.5);
  top: -200px;
  transition: top .3s ease;
  position: fixed;
  width: 100%;
  @media (min-width: $medium){
    position: static;
    top: 0;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
    padding: 15px 0 0 0;
  }
  @media (min-width: $large) {
    width: 100%;
  }
}

body.menu-active .navbar{
  top: 0;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  @media (min-width: $medium){
    display: flex;
    flex-direction: row;
  }
}

.nav__link {
  text-decoration: none;
}

.nav__item {
  margin: 0;
  padding-top: 15px;
  @media (min-width: $medium){
    margin: 0 15px;
    padding: 0;
    &:last-of-type {
      margin-right: 0;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.nav__link {
  &:hover {
    cursor: pointer;
  }
}

.nav__text {
  height: 10px;
  object-fit: contain;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.navbar__logo {
  text-decoration: none;
  .nav__text {
    font-weight: bold;
    letter-spacing: 1.1px;
  }
  &:hover {
    cursor: pointer;
  }
}
