.section {
  background-color: rgba(55, 55, 54, 0.03);
  @media (min-width: $xlarge) {
    min-height: calc(100vh - 107px);
  }
}

.container {
  margin: 0 auto;
  @media (min-width: $medium) {
    width: 700px;
  }
  @media (min-width: $large) {
    width: 900px;
  }
  @media (min-width: $xlarge) {
    width: 1177px;
    min-height: calc(100vh - 107px);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section-header {
  margin: 0;
  padding: 0;
  background: url("../img/1350-copy.png"), url("../img/1350.png");
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-header__link {
  text-decoration: none;
  color: #000000;

  &:hover {
    cursor: pointer;
  }
}

.section-header__text {
  padding: 5px 0;
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $xsmall) {
    font-size: 30px;
    padding: 10px 0;
  }
  @media (min-width: $small) {
    padding: 19px 0;
  }
  @media (min-width: $medium) {
    padding: 30px 0;
  }
  @media (min-width: $large) {
    padding: 36px 0;
  }
}
