.header {
  height: calc(100vh - 36px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @media (min-width: $medium){
    justify-content: flex-start;
    align-items: center;
  }
}
.navigation-div {
  position: relative;
  margin: 0;
}

.welcome-section {
  width: 100%;
  height: 100vh;
  background: url("../img/aidan-hancock-428761-unsplash.png");
  background-position: center;
  background-size: cover;
  position: relative;

  .welcome-div {
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $medium) {
      align-items: flex-start;
    }
  

    .welcome-div__header {
      display: none;
      @media (min-width: $xsmall) {
        display: block;
        font-size: 20px;
        margin-top: 15vh;
        margin-bottom: 30px;
      }
      @media (min-width: $medium) {
        margin-top: 0;
      }
      @media (min-width: $xlarge) {
        margin-bottom: 55px;
      }
    }

    .welcome-div__logo {
      margin-bottom: 40px;
      margin-top: 20vh;
      width: 80%;
      height: auto;
      @media (min-width: $xsmall) {
        width: 100%;
        margin-top: 0;
        margin-bottom: 30px;
      }
      @media (min-width: $xlarge) {
        margin-bottom: 72px;
        width: auto;
        height: auto;
      }
    }

    .welcome-div__text {
      marin: 0;
      padding: 0;
      font-size: 14px;
      text-align: justify;
      line-height: 1.57;
      letter-spacing: 0.1px;
    }
  }
}
