.what-we-do-section {
  @media (min-width: $xlarge) {
    min-height: 100vh;
  }

  .what-we-do{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    @media (min-width: $medium) {
      flex-direction: row;
    }
    @media (min-width: $large) {
      flex-direction: column;
    }
    @media (min-width: $xlarge) {
      padding: 0;
      width: 1177px;
      min-height: calc(100vh - 107px);
    }
    .row {
      flex-direction: column;
      align-items: center;
      @media (min-width: $medium) {
        flex-direction: row;
        justify-content: center;
      }
      @media (min-width: $large) {
        justify-content: space-between;
      }
    }
  }
}

.what-we-do-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin: 10px;
  @media (min-width: $xsmall) {
    margin: 20px;
    width: 350px;
  }
  @media (min-width: $medium) {
    width: 260px;
  }
  @media (min-width: $xlarge) {
    align-items: flex-start;
  }

  &__header {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: capitalize;
  }

  &__text {
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
  }
}
